---
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort((a, b) => b.data.order - a.data.order);
---

<h1 class="text-3xl font-bold">Proyectos</h1>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
  {
    projects.map((project) => (
      <article class="flex flex-col rounded-3xl shadow-sm">
        <div class="w-full aspect-[16/9] rounded-t-3xl overflow-clip">
          <img src={project.data.imageUrl} alt={project.data.title} class="w-full object-cover" />
        </div>

        <div class="flex flex-col gap-4 p-4 justify-between h-full">
          <div>
            <div>
              <p class="font-mono uppercase text-sm">{project.data.role}</p>
              <h2 class="text-xl font-semibold">{project.data.title}</h2>
            </div>
            <p class="text-gray-600">{project.data.description}</p>
          </div>
          <div class="flex flex-wrap gap-2 text-sm">
            {project.data.technologies.map((tech) => (
              <div class="chip">{tech}</div>
            ))}
          </div>
        </div>
      </article>
    ))
  }
</div>
